<link rel="stylesheet" href="components/Weather/dashboard.css">

<div class="container weather-container" ng-controller="mainCrtl">

    <div class="row">

<div class="input-field col s10 m3 l3">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Bronx</option>
      <option value="2">New York City</option>
      <option value="3">Brooklyn</option>
    </select>
    <label>Location</label>

    <button class="btn purple">Get Weather</button>
  </div>


    </div>
    <div ng-if="why==true">


        <div class="row">

            <div class="col s12 m12 l12 center-align ">



                <h1>Weather Dashboard</h1>


            </div>
            <div class="col s12 m12 l3 center-align ">



                <i class="wi wi-night-sleet"></i>
                <h1> {{ Weather.temperature}}&#8457; </h1>

                <h4> {{ Weather.description}} </h4>


            </div>

            <div class="col s12 m12 l9 center-align ">



                <table>
                    <thead>
                        <tr>

                            <th>Temperature </th>
                            <th> Stats</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><span style="font-weight:bold;">Max</span>: {{ Weather.maxTemp}}&#8457; </td>
                            <td><span style="font-weight:bold;">Humidity</span> :{{ Weather.humidity}} </td>
                            <td><span style="font-weight:bold;">Pressure</span> : {{ Weather.pressure}}</td>
                        </tr>
                        <tr>
                            <td><span style="font-weight:bold;">Min</span>: {{ Weather.minTemp}}&#8457;</td>
                            <td><span style="font-weight:bold;">Weather</span> : {{ Weather.shortDes}}</td>
                            <td><span style="font-weight:bold;">Wind Speed</span> : {{ Weather.windSpeed}}</td>
                        </tr>

                    </tbody>
                </table>



            </div>








        </div>



        <div class="row">
            <div class="col l6 m6 s6 offset-s5 offset-m5 offset-l6">
                       <a id="weatherIcon" ng-href="/#!/" class="btn btn-floating btn-large pulse purple"><i class="material-icons">navigation</i></a>
            </div>

        </div>

   
 

      

    </div>
















</div>