<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  


    <script src="app-module.js"></script>
    <script src="app-routes.js"></script>
    <script src="main.js"></script>
  
 <script>
  

 </script>
</head>
<body ng-app="umbrellaAlert" ng-controller="mainCrtl" >

     <div class="message " >
        <div class="rain" style="overflow:hidden;">
            <h1 ng-if="why==true" ng-model= "weather" >umbrella Alert {{ today}} {{data.list[0]["weather"][0]["description"]}}</h1>

            <img src="umbrella.svg" alt=""><br>
            <p>Get alerted before it rains...</p>
          
            <input type="text" placeholder="email">
            <button ng-click="why = false"> Signup </button>

                <h1 >{{why}} </h1>

        </div>
            

            

        </div>

    <div class="container" >
       
        <div class="weather">   
             
            <h1 >weather</h1>

            <div class="weather-div">



            </div>
            
            

        </div>

    </div>
</body>
</html>