

body{

    background-color: #f7f7f7;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;

}

h1{
    font-size: 45px;
   
}

ul {
    list-style: none;
}

li{
    border: solid 1px #ccc;
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #ccc;
}

.container{
    margin: 0 auto;
    width: 80%;
}
.message{

    min-height: 55vh;
    width: auto;
    /*background-image: url('./rain.jpg');*/
    background-color:#16002d; 
    background-color: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) );
    background-position:center top;
    padding: 10px;
    padding-bottom: 0px !important;
    text-align: center;
    overflow: hidden;
}

.message input {
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    color:  #16002d;
    font-weight: bold;

}

.message button {
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    color:  #16002d;
    font-weight: bold;
}


.message button:hover{
    background-color: #16002d;
    color: white;
    cursor: pointer;
}

img{
    width: 20vh;
}


.weather{
     min-height: 70vh;
    width: auto;
    background-color: #f7f7f7;
      color:  #16002d;

}
