  <div class="message">
        <div class="container" >
            <h1>umbrella Alert</h1>

              <div class="row">

            <div class="col s6">
                <img src="shared/img/bot.png" alt="">
            </div>


        

        </div>

            <p>Get alerted before it rains...</p>

            <div class="container">

                <input class="white" type="text" placeholder="email">
                <button class="btn purple"> Signup </button>

            </div>
        </div>
        <a class="arrow bounce " href=""></a>
        <a class="btn btn-floating btn-large pulse purple"><i class="material-icons">launch</i></a>

    </div>